---
import Layout from '../layouts/Layout.astro'
import GitHubIcon from '../assets/github.svg'
import LinkedInIcon from '../assets/linkedin.svg'
import TwitterIcon from '../assets/twitter.svg'
---

<Layout>
  <div class="flex h-dvh flex-col items-center justify-center gap-3">
    <h1 class="text-center font-mono text-2xl text-neutral-50">
      Rocco Maniscalco
    </h1>
    <p class="text-center text-balance">
      Component Builder, Types Enjoyer, <i>and</i> Software Engineer!
    </p>
  </div>
  <footer
    class="absolute bottom-0 left-0 flex w-full flex-col items-center gap-3 pb-6"
  >
    <p class="text-center text-pretty">Let's connect</p>
    <nav class="rounded-full border border-neutral-800 bg-neutral-900">
      <ul class="flex gap-2 px-4 py-1">
        <li>
          <a
            class="fill-neutral-400 transition-colors ease-linear hover:fill-neutral-50"
            href="https://github.com/roccomaniscalco"
            target="_blank"
            rel="noreferrer"
          >
            <i class="grid h-8 w-8 place-items-center">
              <GitHubIcon class="h-4 w-4" />
            </i>
            <span class="sr-only">GitHub</span>
          </a>
        </li>
        <li>
          <a
            class="fill-neutral-400 transition-colors ease-linear hover:fill-neutral-50"
            href="https://x.com/roccosoftware"
            target="_blank"
            rel="noreferrer"
          >
            <i class="grid h-8 w-8 place-items-center">
              <TwitterIcon class="h-4 w-4" />
            </i>
            <span class="sr-only">Twitter</span>
          </a>
        </li>
        <li>
          <a
            class="fill-neutral-400 transition-colors ease-linear hover:fill-neutral-50"
            href="https://www.linkedin.com/in/rocco-maniscalco"
            target="_blank"
            rel="noreferrer"
          >
            <i class="grid h-8 w-8 place-items-center">
              <LinkedInIcon class="h-4 w-4" />
            </i>
            <span class="sr-only">LinkedIn</span>
          </a>
        </li>
      </ul>
    </nav>
  </footer>
</Layout>
