---
import ProjectCard from "../components/ProjectCard.astro"
import RootLayout from "../layouts/RootLayout.astro"

type Project = {
  owner: string
  repo: string
  description?: string
  image: string
  website: string
  language: string
  languageColor: string
  stars: number
  forks: string
}

const projects = (await fetch(
  "https://gh-pinned.nxl.sh/api/user/roccomaniscalco"
).then((res) => res.json())) as Project[]
---

<RootLayout title="Home">
  <main class="m-auto mt-12">
    <h1 class="mb-2 text-5xl font-bold dark:text-white">Rocco Maniscalco</h1>
    <h2 class="mb-12 text-xl dark:text-white">Software Development Engineer</h2>
    <div class="grid gap-3 sm:grid-cols-2">
      {projects.map((project) => <ProjectCard {...project} />)}
    </div>
  </main>
</RootLayout>
