---
import RootLayout from "../layouts/RootLayout.astro"
---

<RootLayout title="Home">
  <main class="m-auto mt-12">
    <h1 class="mb-2 text-5xl font-bold dark:text-white">Rocco Maniscalco</h1>
    <h2 class="text-xl dark:text-white mb-12">Software Development Engineer</h2>
    <p class="dark:text-gray-200 leading-8">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio reiciendis dolorum
      nostrum quas libero ipsam delectus accusamus enim nam facilis, minus rem itaque
      beatae. Fugiat dicta veritatis quisquam sit, repellat facere error dignissimos?
      Ex enim illum impedit praesentium dicta eveniet quidem! Illum consequuntur
      excepturi laboriosam, tempore quod ab iure aut nam omnis libero animi consectetur
      inventore, molestias magni eos quaerat laborum at suscipit eum enim repellat
      temporibus architecto dignissimos? Natus mollitia ex eaque harum architecto
      dolor excepturi ab enim ratione, quo alias hic officiis vel dolorum nobis qui
      laborum, autem, tenetur possimus! Dolores a labore, dolorem molestias officiis
      accusamus ipsa quis! Libero assumenda adipisci ullam voluptatum rem laudantium
      voluptates. Temporibus, mollitia. Libero voluptate doloremque, voluptatum incidunt
      asperiores omnis dignissimos iure ad ex provident, natus quasi possimus architecto!
      Assumenda soluta earum neque nesciunt repellat eos? Laudantium, dolorem incidunt
      ipsam possimus, reprehenderit vitae, perferendis ad officia sit corporis nostrum!
      Necessitatibus saepe rem voluptatem animi ipsa ea tempore ullam quisquam, cumque
      eveniet et nobis natus libero! Consequatur suscipit deleniti quo inventore
      at officia, excepturi accusamus recusandae minima sint maiores tempore tempora
      facere consectetur doloribus quibusdam ab eos vero praesentium debitis doloremque.
      Reiciendis praesentium quam quo aliquam nisi ipsum accusantium cum illo vitae
      cupiditate. Maiores facilis minima nulla libero, omnis assumenda architecto
      eos quae officia eius unde hic accusantium nihil distinctio tenetur quo sequi
      deserunt, doloremque recusandae alias dolorem repellendus quidem facere nemo!
      Ut exercitationem dolorum voluptate maxime laborum magnam assumenda libero
      aliquid rem ullam id sunt rerum dolorem ipsa cum necessitatibus distinctio
      facere, aut officiis architecto consectetur corrupti mollitia possimus iste.
      Odio libero dolore maiores tenetur ex, officia deleniti quas labore sed porro
      voluptates rerum laborum ipsum sint fuga sunt et similique repellendus. Nobis
      hic laboriosam quibusdam et pariatur delectus, alias aut quo. Laborum sunt
      nostrum minima blanditiis tempora quod necessitatibus, voluptatem impedit inventore
      ex earum corrupti a doloribus ut porro placeat molestiae vero facilis tenetur
      animi repudiandae. Quisquam commodi qui voluptate quasi voluptatibus dolor
      laudantium quas exercitationem rem eaque ad voluptas, aliquid esse facilis!
      Ut repudiandae illum magni quas velit beatae quibusdam rem corporis quae fugit
      voluptate dolores, consequatur sed voluptatem ea exercitationem laboriosam
      repellendus necessitatibus labore officiis quis nobis sit totam quidem? Incidunt
      eius a dolorum, aperiam ea similique vero libero atque eos beatae voluptatem
      eaque, in voluptate dolores molestias harum natus autem soluta voluptatibus
      magnam minima eveniet perferendis commodi error! Veritatis a architecto delectus
      nihil quibusdam. Officiis earum corporis nihil eveniet vitae blanditiis iste
      in eligendi temporibus! Quidem, amet. Expedita quae explicabo libero, iusto
      ex dolores cum? In, maiores fuga commodi neque rerum totam iure earum hic quae.
      Commodi saepe quod, tempora consequatur libero veritatis exercitationem quaerat
      quos laudantium? Sequi dignissimos quae impedit, recusandae illo eaque aperiam,
      ducimus expedita, velit ex odio perspiciatis vel? Quibusdam excepturi neque,
      exercitationem vero cum numquam, suscipit enim error ducimus voluptate harum
      molestiae. In est suscipit fuga at ipsa, necessitatibus reiciendis sapiente
      dolorem quibusdam totam quasi eos quos enim reprehenderit. Fuga repellendus,
      vel officia enim non dolorem cumque exercitationem fugit dolor iure! Saepe,
      repellendus fugiat?
    </p>
  </main>
</RootLayout>
