---
import ProjectCard from "../components/ProjectCard.astro"
import RootLayout from "../layouts/RootLayout.astro"

type Project = {
  owner: string
  repo: string
  description?: string
  image: string
  website: string
  language: string
  languageColor: string
  stars: number
  forks: string
}

const projects = (await fetch(
  "https://gh-pinned.nxl.sh/api/user/roccomaniscalco"
).then((res) => res.json())) as Project[]
---

<RootLayout title="Home">
  <main class="mt-16">
    <h1 class="mb-2 text-5xl font-bold text-gray-900 dark:text-white">
      Rocco Maniscalco
    </h1>
    <p class="mb-16 text-lg">Software Development Engineer</p>
    <h2 class="mb-4 text-4xl font-bold text-gray-900 dark:text-white">
      Projects
    </h2>
    <div class="grid gap-3 sm:grid-cols-2">
      {projects.map((project) => <ProjectCard {...project} />)}
    </div>
  </main>
</RootLayout>
