---
import Layout from '../layouts/Layout.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="flex h-dvh flex-col items-center justify-center">
    <h1 class="text-center text-3xl">Rocco Maniscalco</h1>
    <p class="text-center text-pretty text-neutral-400">
      Application Developer, Web Builder, and Software Engineer!
    </p>
  </div>
</Layout>
