---
import RootLayout from "../layouts/RootLayout.astro"
---

<RootLayout title="Welcome to Astro.">
  <main class="m-auto max-w-[60ch] p-6 text-center">
    <h1 class="m-0 text-5xl font-bold">Rocco Maniscalco</h1>
    <p class="text-lg">Software Development Engineer</p>
  </main>
</RootLayout>
