---
export interface Props {
  name: string
  href: string
}
const { name, href } = Astro.props
---

<a
  href={href}
  class="inline-block border-r-2 px-2 text-blue-700 last:border-r-0 dark:text-blue-400"
>
  {name}
</a>
