---
import ThemeSelect from "../components/ThemeSelect"

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <!-- Apply theme -->
    <script is:inline>
      if (localStorage.theme === "dark")
        document.documentElement.classList.add("dark")
      else if (localStorage.theme === "light")
        document.documentElement.classList.remove("dark")
      else if (window.matchMedia("(prefers-color-scheme: dark)").matches)
        document.documentElement.classList.add("dark")
    </script>
  </head>
  <body class="dark:bg-gray-900">
    <div class="px-6 m-auto max-w-7xl">
      <header class="sticky flex h-16 items-center justify-between">
        <nav>
          <a href="">Blog</a>
          <a href="">Projects</a>
          <a href="">About</a>
        </nav>
        <ThemeSelect client:only />
      </header>
      <slot />
    </div>
  </body>
</html>
