---
import DarkModeToggle from "../components/DarkModeToggle"
import { IconBrandGithub } from "@tabler/icons-react"
---

<!DOCTYPE html>
<html lang="en" class="scroll-pt-14 motion-safe:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Rocco Maniscalco</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
    />
    <noscript>
      <link rel="stylesheet" href="$CSS&display=swap" />
    </noscript>
    <!-- Apply theme -->
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark")
      }
    </script>
  </head>
  <body class="bg-gray-50 text-gray-800 dark:bg-gray-900 dark:text-gray-100">
    <header
      class="sticky top-0 z-20 bg-gray-50/80 backdrop-blur dark:bg-gray-900/80"
    >
      <div class="m-auto flex h-14 max-w-2xl items-center justify-between px-6">
        <nav class="flex gap-4">
          <a class="hover:text-black dark:hover:text-white" href="/">About</a>
          <a class="hover:text-black dark:hover:text-white" href="/#projects"
            >Projects</a
          >
          <a class="hover:text-black dark:hover:text-white" href="">Blog</a>
        </nav>
        <div class="flex gap-4">
          <a
            class="hover:text-black dark:hover:text-white"
            href="https://github.com/roccomaniscalco"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="GitHub"
          >
            <IconBrandGithub />
          </a>
          <div class="h-6 w-6">
            <DarkModeToggle client:only="react" />
          </div>
        </div>
      </div>
    </header>
    <main class="m-auto my-16 max-w-2xl px-6">
      <slot />
    </main>
  </body>
</html>