---
import DarkModeToggle from "../components/DarkModeToggle"

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Rocco Maniscalco</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
    />
    <!-- Apply theme -->
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark")
      }
    </script>
  </head>
  <body class="bg-amber-50 dark:bg-gray-900">
    <header
      class="sticky top-0 bg-amber-50/80 backdrop-blur dark:bg-gray-900/80"
    >
      <div class="m-auto flex h-14 max-w-2xl items-center justify-between px-6">
        <nav class="flex gap-6">
          <a
            href=""
            class="text-gray-700 hover:text-black dark:text-gray-300 dark:hover:text-white"
            >Projects</a
          >
          <a
            href=""
            class="text-gray-700 hover:text-black dark:text-gray-300 dark:hover:text-white"
            >About</a
          >
          <a
            href=""
            class="text-gray-700 hover:text-black dark:text-gray-300 dark:hover:text-white"
            >Blog</a
          >
        </nav>
        <DarkModeToggle client:only="react" />
      </div>
    </header>
    <div class="m-auto max-w-2xl px-6">
      <slot />
    </div>
  </body>
</html>
