---
import DarkModeToggle from "../components/DarkModeToggle"
---

<!DOCTYPE html>
<html lang="en" class="scroll-pt-16 motion-safe:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Rocco Maniscalco</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
    />
    <!-- Apply theme -->
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark")
      }
    </script>
  </head>
  <body class="bg-amber-50 text-gray-800 dark:bg-gray-900 dark:text-gray-200">
    <header
      class="sticky top-0 z-20 bg-amber-50/80 backdrop-blur dark:bg-gray-900/80"
    >
      <div class="m-auto flex h-14 max-w-2xl items-center justify-between px-6">
        <nav class="flex gap-6">
          <a class="hover:text-black dark:hover:text-white" href="/">About</a>
          <a class="hover:text-black dark:hover:text-white" href="/#projects"
            >Projects</a
          >
          <a class="hover:text-black dark:hover:text-white" href="">Blog</a>
        </nav>
        <DarkModeToggle client:only="react" />
      </div>
    </header>
    <div class="m-auto max-w-2xl px-6">
      <slot />
    </div>
  </body>
</html>
